/* SwapBox.css */
.swapbox {
    background-color: #f9fafb;
    border: 1px solid #d8d9db;
    border-radius: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
  }
  
  .swapinput {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .swapinput label {
    margin-right: 8px;
  }
  
  .swapinput input {
    border: 1px solid #d8d9db;
    border-radius: 8px;
    padding: 8px;
    margin-right: 8px;
    flex-grow: 1;
  }
  
  .tokensymbol {
    font-weight: bold;
    color: #1c1e1f;
  }
  
  .swaparrow {
    font-size: 24px;
    font-weight: bold;
    color: #d8d9db;
    margin-bottom: 16px;
  }
  
  .swapbutton {
    background-color: #3f51b5;
    color: #fff;
    border-radius: 8px;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .swapbutton:hover {
    background-color: #2c387e;
  }
  